<body>
    <div class="containers">
        <div>
            <h3>Formulario</h3>
            <div>
                <form [formGroup]="cadastro">
                    <label>Nome</label><br>
                    <input type="text" formControlName='nome'  autocomplete="off" maxlength="64" required><br>
                    
                    <label>E-mail</label><br>
                    <input type="email" formControlName='email'  autocomplete="off" required><br>
                    
                    <label>Data de nascimento:</label><br>
                    <input type="date" formControlName="birth_date"  required><br>
                    
                    <label>Genero:</label><br>
                    <select formControlName="gender" required>
                        <option value="M">M</option>
                        <option value="F">F</option>
                        <option value="N">N/A</option>
                    </select><br>
                    
                    <label>Cidade</label><br>
                    <input type="text" formControlName='city'  maxlength="64" required><br>
                    
                    <label for="state">Sigla do Estado:</label><br>
                    <input type="text" formControlName="state"  maxlength="2" required><br>

                    <label for="profession">Profissão:</label><br>
                    <input type="text" formControlName="profession"  maxlength="64" required><br>

                    <label for="schooling">Escolaridade:</label><br>
                    <select formControlName="schooling" name="schooling"  required>
                        <option value="A">Sem Educação ou Ensino Fundamental Incompleto</option>
                        <option value="B">Ensino Fundamental Completo</option>
                        <option value="C">Ensino Médio Completo</option>
                        <option value="D">Ensino Superior Completo</option>
                        <option value="E">Pós-graduação Completo</option>
                    </select><br>
                    
                    <label>Conheço os fundamentos e teorias de economia</label><br>
                    <select formControlName="q1" name="q1"  required>
                        <option value="1">Discordo totalmente</option>
                        <option value="2">Discordo levemente</option>
                        <option value="3">Não sei</option>
                        <option value="4">Concordo levemente</option>
                        <option value="5">Concordo totalmente</option>
                    </select><br>
                    
                    <label>Este é meu primeiro contato com uma corretora</label><br>
                    <select formControlName="q2" name="q2"  required>
                        <option value="1">Sim</option>
                        <option value="0">Não</option>
                    </select><br>
                    
                    <label>Sou experiente com investimentos</label><br>
                    <select formControlName="q3" name="q3"  required>
                        <option value="1">Discordo totalmente</option>
                        <option value="2">Discordo levemente</option>
                        <option value="3">Não sei</option>
                        <option value="4">Concordo levemente</option>
                        <option value="5">Concordo totalmente</option>
                    </select><br>
                    
                    <label>Busco experimentar novos tipos de investimento </label><br>
                    <select formControlName="q4" name="q4"  required>
                        <option value="1">Discordo totalmente</option>
                        <option value="2">Discordo levemente</option>
                        <option value="3">Não sei</option>
                        <option value="4">Concordo levemente</option>
                        <option value="5">Concordo totalmente</option>
                    </select><br>
                    
                    <label>Me sinto confortável com riscos</label><br>
                    <select formControlName="q5" name="q5"  required>
                        <option value="1">Discordo totalmente</option>
                        <option value="2">Discordo levemente</option>
                        <option value="3">Não sei</option>
                        <option value="4">Concordo levemente</option>
                        <option value="5">Concordo totalmente</option>
                    </select><br>

                    <label>Busco retorno a curto prazo </label><br>
                    <select formControlName="q6" name="q6"  required>
                        <option value="1">Discordo totalmente</option>
                        <option value="2">Discordo levemente</option>
                        <option value="3">Não sei</option>
                        <option value="4">Concordo levemente</option>
                        <option value="5">Concordo totalmente</option>
                    </select><br>

                    <br>
                    <label>Quero receber as informações da "itub4" na frequencia:</label><br>
                    
                        <input type="radio" name="ITUB4" formControlName="ITUB4" value="ITUB4.*">
                        <label >Todas as variações</label><br>

                        <input type="radio" name="ITUB4" formControlName="ITUB4" value="ITUB4.A">
                        <label >Variação abaixo de 20%</label><br>

                        <input type="radio" name="ITUB4" formControlName="ITUB4" value="ITUB4.B">
                        <label >Variação entre 20% e 60¨%</label><br>

                        <input type="radio" name="ITUB4" formControlName="ITUB4" value="ITUB4.C">
                        <label >Variação a cima de 60%</label><br>
                        
                        <input type="radio" name="ITUB4" formControlName="ITUB4" value="">
                        <label >Não desejo receber</label><br>

                    <br>
                    <label>Quero receber as informações da "petr4" na frequencia:</label><br>

                        <input type="radio" name="PETR4" formControlName="PETR4" value="PETR4.*">
                        <label >Todas as variações</label><br>

                        <input type="radio" name="PETR4" formControlName="PETR4" value="PETR4.A">
                        <label >Variação abaixo de 20%</label><br>

                        <input type="radio" name="PETR4" formControlName="PETR4" value="PETR4.B">
                        <label >Variação entre 20% e 60%</label><br>

                        <input type="radio" name="PETR4" formControlName="PETR4" value="PETR4.C">
                        <label >Variação a cima de 60%</label><br>

                        <input type="radio" name="PETR4" formControlName="PETR4" value="">
                        <label >Não desejo receber</label><br>

                    <br>
                    <label>Quero receber as informações da "vale3" na frequencia:</label><br>
                    
                        <input type="radio" name="VALE3" formControlName="VALE3" value="VALE3.*">
                        <label >Todas as variações</label><br>

                        <input type="radio" name="VALE3" formControlName="VALE3" value="VALE3.A">
                        <label >Variação abaixo de 20%</label><br>

                        <input type="radio" name="VALE3" formControlName="VALE3" value="VALE3.B">
                        <label >Variação entre 20% e 60¨%</label><br>

                        <input type="radio" name="VALE3" formControlName="VALE3" value="VALE3.C">
                        <label >Variação a cima de 60%</label><br>

                        <input type="radio" name="VALE3" formControlName="VALE3" value="">
                        <label >Não desejo receber</label><br>
                        <br>
                        
                    <br>
                    <label>Quero receber notícias :</label><br>
                    
                        <input type="radio" name="NEWS" formControlName="NEWS" value="NEWS.*">
                        <label >Sim</label><br>

                        <input type="radio" name="NEWS" formControlName="NEWS" value="">
                        <label >Não</label><br>

                        <br>

                    <br>
                    <label>Quero receber as informações dos tesouros:</label><br>
                    
                        <input type="checkbox" name="IPCA" formControlName="IPCA">
                        <label >tesouro IPCA</label><br>

                        <input type="checkbox" name="SELIC" formControlName="SELIC">
                        <label >tesouro SELIC</label><br>

                        <input type="checkbox" name="PREFIXADO" formControlName="PREFIXADO">
                        <label >tesouro Prefixado</label><br>
                        <br>
                    
                        <button class="button" type="submit" (click)="onSubmit()">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</body>